<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSOperation_MergedImagesFromInternet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFFC2F5B1CDDBA7900BDD71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFFC2F741CDDBA7A00BDD71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFFC2F7F1CDDBA7A00BDD71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
